block project-info

- function cacheBusted(url){ return url + '?' + Date.now(); }
- var version     = 3
- var name        = true
- var team = [{"name": "مصطفی اميری","job": "Chief Executive Officer (CEO)","level": 1,"slug": "mostafa-amiri","web": "","linkedIn": "https://www.linkedin.com/in/mostafa­-amiri­-1862847b","twitter": ""}, {"name": "علی اميری","job": "Chief Operation Officer (COO)","level": 1,"slug": "ali-amiri","web": "","linkedIn": "","twitter": ""}, {"name": "ایمان طرازانی", "job": "Android Developer", "level": 1, "slug": "tarazani", "web": "", "linkedIn": "", "twitter": ""}, {"name": "مسعود لطفی","job": "Web Developer","level": 1,"slug": "masoud-lotfi","web": "https://www.instagram.com/masoud.lotffi/","linkedIn": "http://ir.linkedin.com/in/masoudlotfii","twitter": "https://twitter.com/MasoudLion"}, {"name": "ایمان علیزاده", "job": "", "level": 2, "slug": "alizadeh", "web": "", "linkedIn": "", "twitter": ""}, {"name": "حسین امینی", "job": "Android Developer", "level": 2, "slug": "m-amini", "web": "", "linkedIn": "", "twitter": ""}, {"name": "سجاد کرمی", "job": "Designer", "level": 2, "slug": "karami", "web": "", "linkedIn": "", "twitter": ""}, {"name": "مهدی مهره‌چی", "job": "Designer", "level": 2, "slug": "mohrechi", "web": "", "linkedIn": "", "twitter": ""}, {"name": "امین نظری", "job": "Front-End Developer", "level": 3, "slug": "amin-nazari", "web": "", "linkedIn": "", "twitter": ""}, {"name": "مسعود امينی","job": "Head of Support & UX Director","level": 2,"slug": "masoud-amini","web": "","linkedIn": "","twitter": ""}, {"name": "هومن نقی ای","job": "Back–End Developer / QA","level": 1,"slug": "hooman-naghiee","web": "","linkedIn": "","twitter": ""}, {"name": "وحيد داوری","job": "Back–End Developer / API","level": 3,"slug": "vahid-davari","web": "http://vdavari.ir","linkedIn": "https://ir.linkedin.com/in/vdavari","twitter": "https://twitter.com/vdavari"}, {"name": "مهدی محمدی","job": "Network / Server Admin","level": 2,"slug": "mehdi-mohammadi","web": "","linkedIn": "","twitter": ""}, {"name": "لطفی", "job": "Customer Support Operator", "level": 3, "slug": "lotfi", "web": "", "linkedIn": "", "twitter": ""}, {"name": "شاه‌حسینی", "job": "Customer Support Operator", "level": 3, "slug": "Shahoseini", "web": "", "linkedIn": "", "twitter": ""}, {"name": "عسل سجادی","job": "Customer Support Operator","level": 3,"slug": "asal-sajadi","web": "","linkedIn": "","twitter": ""}, {"name": "بهشتی", "job": "Accountant", "level": 2, "slug": "Beheshti", "web": "", "linkedIn": "", "twitter": ""}, {"name": "محمد توکلی","job": "Customer Support Operator","level": 3,"slug": "mohammad-tavakoli","web": "","linkedIn": "","twitter": ""},{"name": "محمد عباسی فرد","job": "Technical Writer","level": 3,"slug": "Abbasifard","web": "http://abbasifard.ir","linkedIn": "","twitter": "https://twitter.com/abbasifard"}]
- var colors =  [ {"step": "green","start": "#55E47C","end": "#5A8282"},{"step": "blue","start": "#326295","end": "#81C3C5"},{"step": "bluegray","start": "#7A8EAD","end": "#394E6D"},{"step": "moss","start": "#73C8A9","end": "#134E5E"}]
- var faq = [{"question": "زرین‌پال چیست؟","answer": "زرین‌پال اولین ارائه‌دهنده‌ی درگاه پرداخت آنلاین در ایران است که برای اشخاص حقیقی و حقوقی به راحتی قابل استفاده است."},{"question": "زرین‌پال چگونه فعالیت می‌کند؟","answer": "با خرید مشتری از سایت شما، وجه به‌صورت آنلاین و بدون کسر کارمزد، به‌حساب زرین‌پال شما اعمال می‌شود. شما می‌توانید وجه موردنظر را به‌حساب کاربر دیگری در زرین‌پال انتقال دهید و یا اینکه درخواست واریز وجه به‌حساب بانکی خود کنید."},{"question": "روند ثبت‌نام و فعال سازی حساب کاربری در سایت زرین‌پال چگونه است؟","answer": "برای ثبت‌نام درسایت زرین‌پال ابتدا فرم ثبت‌نام را تکمیل نمایید، سپس ایمیل تائید برای شما ارسال می‌شود که با کلیک روی لینک موجود در ایمیل، آدرس ایمیل شما تائید می‌شود و می‌توانید وارد سایت شوید. پس از ورود به سایت در بالای سایت روی گزینه ارتقا به سطح نقره‌ای کلیک نموده و فرم مربوطه را با دقت و کامل پر نمایید و در انتها تصویر اسکن رنگی اصل شناسنامه و کارت ملی خود را نیز پیوست نمایید. پس از ارسال، مدارک و اطلاعات شما توسط کارشناسان زرین‌پال بررسی‌شده و نتیجه ی آن از طریق تیکت به اطلاع شما می‌رسد."},{"question": "چگونه می‌توانم درگاه پرداخت دریافت کنم؟","answer": "پس از فعال‌سازی حساب کاربری و رسیدن به سطح نقره‌ای در منو سمت راست گزینه‌ی درگاه‌های پرداخت برای شما قابل‌ مشاهده است روی آن کلیک کرده و سپس روی گزینه درخواست درگاه پرداخت کلیک نمایید. در این قسمت فرم را تکمیل کرده و ارسال نمایید. حداکثر طی ۶ ساعت به درخواست شما رسیدگی شده و کد درگاه پرداخت (مرچنت کد) برای شما ارسال می‌گردد که پس از آن می‌توانید در آزمایشگاه زرین‌پال افزونه مورد نظر خود را دریافت نمایید و یا با استفاده از نمونه کدهای موجود در آزمایشگاه زرین‌پال درگاه خود را توسعه دهید."},{"question": "زرین‌کارت چیست و نحوه عملکرد آن به چه صورتی است؟","answer": "زرین‌کارت یک کارت‌ بانکی عضو شبکه شتاب است که با آن می‌توانید از طریق خودپردازها، دستگاه‌های کارت‌خوان عملیات دریافت وجه، انتقال و سایر عملیات بانکی را انجام دهید، همچنین امکان مشاهده گردش کارت، انتقال وجه شتابی از زرین‌کارت نیز به‌صورت آنلاین داخل سایت زرین‌پال امکان‌پذیر است. زرین‌کارت به نام شما صادر شده و حدود دو الی سه هفته پس از درخواست کارت، به آدرس پستی شما ارسال خواهد شد. کارمزد تراکنش‌های خروجی روی زرین‌کارت ٪۰.۵ است، قابلیت دیگر زرین‌کارت این است که تسویه‌حساب تراکنش‌های زیر ۴۰۰ هزار تومان در هرروز یک‌بار آنی هستند و تسویه‌حساب مابقی تراکنش‌ها و تراکنش‌های بالای ۴۰۰ هزار تومان بین یک دقیقه تا دوازده ساعت انجام می‌شوند."},{"question": "چگونه درخواست صدور زرین‌کارت بدهم؟","answer": "برای درخواست زرین‌کارت روی گزینه صدور زرین‌کارت موجود در منو سمت راست کلیک نمایید، فرم مربوطه را تکمیل و ثبت نمایید. قابل‌ذکر است مبلغ ۴۹.۵۰۰ تومان  (چهل و نه هزار و پانصد تومان) بابت هزینه صدور و ارسال زرین‌کارت از حساب زرین‌پال برداشته می‌شود که اگر در حساب زرین‌پال خود مبلغ فوق را نداشته باشید قبل از درخواست صدور کارت به منو امور مالی رفته از گزینه افزایش اعتبار، حساب خود را افزایش داده و پس ازآن اقدام به درخواست زرین‌کارت نمایید، مبلغ ذکرشده برای کاربران با سطح طلایی رایگان خواهد بود اما باید در حساب زرین‌پال کاربران طلایی نیر مبلغ مذکور موجود باشد تا صدور زرین‌کارت انجام شود. پس از دریافت کارت می توانید به خودپردازهای بانک آینده مراجعه کرده و رمز اول و دوم خود را تغییر دهید."},{"question": "نحوه محاسبه کارمزدها و تسویه‌حساب  در زرین‌پال به چه صورت است؟","answer": "در سایت زرین‌پال دو روش برای تسویه‌حساب وجود دارد. روش اول: با استفاده از زرین‌کارت و کارمزد نیم درصد به این صورت که اگر شما وجه را از کیف‌پول زرین‌پال خود به زرین‌کارت منتقل نمایید کارمزد آن ٪۰.۵ خواهد بود. روش دوم: درخواست واریز به حساب‌های بانکی افزوده ‌شده توسط خود شما که پس از درخواست واریز وجه، در سطح نقره‌ای تسویه‌حساب سه تا چهار روز کاری و در سطح طلایی ۸ تا ۳۶ ساعت کاری طول خواهد کشید. انتقال وجه به ‌حساب شما شامل کسر کارمزد از حساب شما خواهد شد بدین ‌صورت که برای تمامی تراکنش‌ها ٪۱ (یک درصد) کارمزد کسر خواهد شد. همچنين برای بهره مندی از تعرفه بدون کارمزد، امکان استفاده از سرويس سه شنبه های طلائی برای کاربران وجود دارد."},{"question": "روند افزودن حساب بانکی برای تسویه‌حساب به چه صورت است؟","answer": "برای افزودن حساب از منو امورمالی وارد قسمت لیست حساب‌های بانکی شوید و سپس بر روی دکمه افزودن حساب جدید کلیک نمایید، اطلاعات حساب بانکی خود را با دقت وارد نمایید و  ارسال نمایید پس از ارسال حساب بانکی شما توسط کارشناسان زرین‌پال تأیید خواهد شد."},{"question": "شرایط رسیدن به سطح طلایی چگونه است؟ ","answer": "رسیدن به سطح طلایی اجباری نیست، در سطح نقره‌ای نیز می‌توانید از تمامی امکانات سایت استفاده نمایید، برای رسیدن به سطح طلایی باید قوانین مربوط به زرین‌پال (دریافت از این لینک) را پرینت گرفته و به دفاتر اسناد رسمی مراجعه کرده و بر روی برگه‌های پرینت شده و یا روی برگه‌ای جداگانه گواهی امضا گرفته و به آدرس پستی زرین‌پال ارسال نمایید، مبلغ ۸.۵۰۰ تومان (هشت هزار و پانصد تومان) بابت افزایش سطح و رسیدن به سطح طلایی از حساب زرین‌پال کاربران کسر می‌گردد."},{"question": "سطح طلایی چه مزایایی دارد ؟","answer": "مدت‌زمان انتقال وجه از حساب زرین‌پال به سایر حساب‌های بانکی از ۳ الی ۴ روز کاری به ۸ الی ۳۶ ساعت کاهش می‌یابد. صدور زرین‌کارت برای اعضا تأیید طلایی رایگان است. ساخت کیف پول جدید برای اعضا تأیید طلایی رایگان است."},{"question": "شرایط دریافت درگاه مستقیم چیست؟","answer": "برای فعالسازی زرين گيت و USSD، لازم است بعد از تاييد و فعال شدن درگاه پرداخت، از قسمت درگاه های پرداخت روی گزينه فعالسازی زرين گيت يا فعالسازی USSD کليک کرده و پس از تاييد هزينه، سرويس مورد نظر به صورت آنی فعال خواهد شد. مد نظر داشته باشيد هزينه فعالسازی اين سرويس ها از 0 تا 20 هزار تومان ميباشد که بر حسب تعداد تراکنش ها به صورت خودکار توسط سيستم محاسبه و کاهش داده ميشود."},{"question": "USSD کد چیست؟","answer": "USSD یا همان (Unstructured Supplementary Service Data) ارسال پیام از طریق کد دستوری یک روش ارسال پیام در شبکه GSM است. مزایا: ۱. این نوع کد دستوری به‌راحتی در تمامی مدل‌های تلفن‌های همراه قابل‌استفاده است.        ۲. نکته قابل‌توجه USSD آفلاین بودن آن است که بدون نیاز به دسترسی به شبکه اینترنت می‌توان از این سرویس استفاده نمود.        ۳. امکان اسکن کد به‌صورت QR وجود دارد.        پرداخت از طریق USSD چگونه انجام می‌شود؟        زمانی که کاربر روش پرداخت USSD را انتخاب کند کدی مانند کد زیر را باید در تلفن همراه خود شماره‌گیری کند:            * 720 * 97 * 1234567#        همچنین امکان اسکن QR این کد توسط تلفن‌های همراه هوشمند نیز وجود دارد تا کاربر مجبور به تایپ کد نباشد.        پس از شماره‌گیری کد فوق پروسه دریافت اطلاعات کارت آغاز می‌شود کاربر از بستر USSD جزییات تراکنش را مشاهده می‌کند و سپس اطلاعات کارت‌بانکی از او خواسته می‌شود و در صورت صحیح وارد شدن اطلاعات پرداخت با موفقیت انجام‌شده و شماره تراکنش به کاربر نمایش داده می‌شود.        "},{"question": "نحوه درخواست کد USSD چگونه است؟","answer": "برای فعالسازی زرين گيت و USSD، لازم است بعد از تاييد و فعال شدن درگاه پرداخت، از قسمت درگاه های پرداخت روی گزينه فعالسازی زرين گيت يا فعالسازی USSD کليک کرده و پس از تاييد هزينه، سرويس مورد نظر به صورت آنی فعال خواهد شد. مد نظر داشته باشيد هزينه فعالسازی اين سرويس ها از 0 تا 20 هزار تومان ميباشد که بر حسب تعداد تراکنش ها به صورت خودکار توسط سيستم محاسبه و کاهش داده ميشود."},{"question": "نحوه‌ی ویرایش اطلاعات کاربری به چه شکلی خواهد بود؟","answer": "برای ویرایش اطلاعات لازم است کاربر به منو  حساب کاربری در بالا سمت چپ سایت رفته و  گزینه ویرایش اطلاعات رفته و در آنجا اطلاعات خود را ویرایش نمایید. در سایت زرین‌پال پس از انجام هر نوع ویرایش اطلاعات، سطح تأیید شما از نقره‌ای کاهش می‌یابد برای بازگرداندن سطح خود می‌بایست در تیکت افزایش سطح تأیید اعتبار پاسخی مبنی بر بررسی مجدد اطلاعات ارسال نمایید و  همچنین برای ویرایش آن دسته از اطلاعاتی که قابل‌ ویرایش توسط خود کاربر نیست نیز لازم است تا درخواست خود را در تیکت افزایش سطح تأیید اعتبار ارسال نمایید."}]

-if(typeof(lang) == "undefined")
    -lang = "fa";
doctype html
html(lang=(lang == "fa" ? 'fa-IR' : 'en') dir=(lang == "fa" ? 'rtl' : 'ltr') class=(error == true ? 'page-black' : ''))
    head
        meta(charset='utf-8')

        block title
            -if(lang == "fa")
                title
                    =pagename
                    |  | زرین‌پال، کیف‌پول الکترونیک
            -else if(lang == "en")
                title
                    =pagename
                    |  | ZarinPal, Iran's Payment Gateway
        //- meta(name="author" content= "ZarinPal.Com")
        link(rel="publisher" href="https://plus.google.com/+Zarinpal")
        meta(name="keywords" content="کیف پول,درگاه مستقیم,پرداخت موبایلی,درگاه پرداخت درون برنامه ای,درگاه پرداخت بانکی,درگاه موبایلی,کیف پول آنلاین,ussd اختصاصی,زرین‌پال,درگاه واسط,درگاه پرداخت")
        meta(name='description' content="زرین‌پال ارائه دهنده درگاه پرداخت,کیف‌پول,کیف پول آنلاین,درگاه ussd,پرداخت درون برنامه ای,درگاه مستقیم,پرداخت موبایلی,درگاه اختصاصی,درگاه واسط,درگاه پرداخت بانکی می باشد.")

        meta(property='og:locale' content='fa_IR')
        meta(property='og:type' content='website')
        meta(property='og:url' content='https://www.zarinpal.com')
        meta(property='og:title' content='درگاه  پرداخت اینترنتی آسان پرداخت زرین‌پال')
        meta(property='og:description' content="زرین‌پال ارائه دهنده درگاه پرداخت,کیف‌پول,کیف پول آنلاین,درگاه ussd,پرداخت درون برنامه ای,درگاه مستقیم,پرداخت موبایلی,درگاه اختصاصی,درگاه واسط,درگاه پرداخت بانکی می باشد.")
        meta(property='og:image' content='https://cdn.zarinpal.com/theme/payment_gateway/img/favicon.png')

        meta(name="robots" content="index follow")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name="viewport" content="initial-scale=1.0 user-scalable=no width=device-width")

        meta(name="p:domain_verify" content="7da078fa4ad7ec22b3ab89aba0fd482d")

        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        meta(name="apple-mobile-web-app-capable" content="yes")

        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
        link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
        link(rel="manifest", href="/manifest.json")
        link(rel="mask-icon", href="/safari-pinned-tab.svg")
        meta(name="theme-color", content="#ffffff")
        script(src='/assets/js/lib/segment.min.js')
        script(src='/assets/js/lib/ease.min.js')
        <!-- BEGIN RAYCHAT CODE -->
        script(type="text/javascript").
            !function(){function t(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,localStorage.getItem("rayToken")?t.src="https://app.raychat.io/scripts/js/"+o+"?rid="+localStorage.getItem("rayToken")+"&href="+window.location.href:t.src="https://app.raychat.io/scripts/js/"+o;var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}var e=document,a=window,o="97e6458f-c963-4009-97db-d009660273eb";"complete"==e.readyState?t():a.attachEvent?a.attachEvent("onload",t):a.addEventListener("load",t,!1)}();
        <!-- END RAYCHAT CODE -->
        
        link(href=cacheBusted('/assets/css/styles.css') rel="stylesheet" media="all")
        -if(lang == "en")
            link(href=cacheBusted('/assets/css/en.css') rel="stylesheet" media="all")

        block header

    body(class=(HelloWithEffect == true ? 'hello-effects' : ''))
        block content

        if(branch != true)
            include scripts

        block footer